<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- FontAwesome 5.15.3 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">

</head>
<body>

    <div id="app">

        <div class="container d-flex">

            <div class="left_section">

                <header class="header_section">

                    <nav class="left_nav d-flex">

                        <div class="user d-flex">

                            <img src="./assets/img/avatar_io.jpg" alt="">
                            <h4 class="user_name">Sofia</h4>

                        </div>
                        <!-- /.user -->

                        <div class="options">

                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>

                        </div>
                        <!-- /.options -->

                    </nav>
                    <!-- /.left_nav -->

                    <div class="notifications d-flex">

                        <i class="fas fa-bell-slash"></i>

                        <div class="active">

                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>

                        </div>
                        <!-- /.active -->

                    </div>
                    <!-- /.notifications -->

                    <div class="searchbar d-flex">

                        <button class="btn-search"><i class="fas fa-search"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">

                    </div> 

                </header>
                <!-- /.header_section -->

                <main class="main_section">

                    <ul class="contacts">

                        <li @click="showChat(index)" v-for="(contact, index) in contacts" :class="index === activeChat ? `selected` : ``">
                            <div class="d-flex">
                                
                                <div class="info d-flex">
                        
                                    <img :src="contact.avatar" alt="">
                                    <div>
                        
                                        <div>
                                            <h3>{{contact.name}}</h3>
                                            <div class="last_message">Ultimo messaggio inviato</div>
                                        </div>
                        
                                    </div>
                        
                                </div>
                        
                                <div class="time">
                                    12:00
                                </div>
                                
                                    
                            </div> 
                        </li>


                    </ul>
                    <!-- /.contacts -->

                </main>
                <!-- /.main_section -->

            </div>
            <!-- /.left_section -->

            <div class="right_section">

                <header class="header_right">

                    <nav class="right_nav d-flex">

                        <div class="user d-flex">
                                
                            <div class="info d-flex">

                                <img :src="contacts[activeChat].avatar" alt="">
                                <div>

                                    <div>

                                        <h3>{{contacts[activeChat].name}}</h3>
                                        <div class="last_access">
                                            Ultimo accesso alle ore <span class="time">12:00</span>
 
                                        </div>

                                    </div>

                                </div>

                            </div>  

                        </div>
                        <!-- /.user -->

                        <div class="options">

                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>

                        </div>
                        <!-- /.options -->

                    </nav>
                    <!-- /.right_nav -->

                </header>

                <main class="chat d-flex">

                    <div
                     v-for="(message) in contacts[activeChat].messages" class="d-flex" 
                     :class="message.status === `sent` ? `my_text` : `user_text`"
                     >

                        <div class="text_message">{{message.message}}</div>
                        <div class="time">{{message.date.slice(10, 16)}}</div>

                    </div>
                    
                </main>

                <footer>

                    <nav class="footer_nav d-flex">

                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>

                        <div class="text_bar">
                            <input @keyup.enter="sendMessage" v-model="textMessage" type="text" placeholder="Scrivi un messaggio">
                        </div>

                        <div class="audio_message">
                            <i class="fas fa-microphone"></i>
                        </div>

                    </nav>

                </footer>

            </div>
            <!-- /.right_section -->

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./app.js"></script>
    
</body>
</html>




