/* common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.container{
    width: 70%;
    height: 80vh;
    margin: 2rem auto;
}

img{
    width: 50px;
    border-radius: 50%;
}

/* utility */

:root{
    --darker-color: #009688;
    --secondary-color: #8EDAFC;
    --lighter-color: #B1B1B1;
    --primary-color: #D5F9BA;
    --background-color: #D7DBD7;
    --nav-color: #EAEAEA;
    --chatbar-color: #F3EEEA;

}

.d-flex{
    display: flex;
}

/* left menu */

.left_section{
    width: 40%;
    height: 100%;
}

.left_nav{
    border-right: 0.5px solid var(--lighter-color);
}

.left_nav,
.right_nav{
    background-color: var(--nav-color);
    padding: 0.5rem 0.75rem;
    align-items: center;
    justify-content: space-between;
    
}

.user{
    align-items: center;
}

.user_name{
    margin-left: 15px;
}

.left_section i,
.right_section i{
    color: var(--lighter-color);
    height: 100%;
}

.options i{
    margin-right: 10px;
}

.notifications{
    background-color: var(--secondary-color);
    align-items: center;
}

.notifications i{
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    color: var(--secondary-color);
    margin: 0.75rem ;
}

.notifications a{
    color: var(--lighter-color);
}

.searchbar{
    background-color: var(--nav-color);
    padding: 0.7rem;
}

.btn-search{
    background-color: white;
    padding: 0.5rem 1.5rem;
}

.searchbar input{
    width: 100%;
    padding-left: 1rem;
    border: none;
}

.btn-search{
    border: none;
    border-right: 0.5px solid var(--lighter-color);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.main_section{
    height: calc(80vh - 191px);
    background-color: white;
    overflow-y: scroll;
}

ul{
    list-style: none;
}

.contacts li:last-child{
    border: none;
}

.contacts li{
    padding: 0.75rem;
    border-bottom: 0.5px solid var(--lighter-color);
}

.contacts:last-child{
    border: none;
    margin-bottom: 3rem;
}

.last_message,
.last_access{
    color: var(--lighter-color);
    margin-top: 2px;
    font-size: 0.8rem;
}

li > div{
    justify-content: space-between;
}

.info > div{
    margin-left: 10px
}

.time{
    color: var(--lighter-color);
    font-size: 0.75rem;
}

/* right section */

.right_section{
    width: 60%;
    height: 100%;
}

.user .info{
    align-items: center;
}

.chat{
    height: calc(80vh - 66px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: space-between;
}

.my_text{
    background-color: var(--primary-color);
    padding: 1rem;
}

